/* Fichier CSS global pour les styles de base et les réinitialisations. */

/*  les variables globales et les propriétés fondamentales du document. */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #000000;
  background-color: #ffffff;

  /* Améliorations du rendu du texte pour une meilleure lisibilité. */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Réinitialisation de base pour le corps et la page. */
body, html {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-y: auto; 
  overflow-x: hidden;
}

/* Conteneur principal où l'application React est montée. */
#root {
  isolation: isolate; /* Crée un nouveau contexte de superposition pour le z-index. */
  position: relative;
  width: 100%;
  max-width: 1400px;
  /* Permet au conteneur de prendre toute la hauteur de la fenêtre. */
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  margin: 0 auto; /* Centre le conteneur principal horizontalement. */
}